!! ~/.Xresources

!!
!! rxvt-unicode (urxvt)
!!

URxvt.scrollBar_right:      true
URxvt.scrollBar_floating:   true
URxvt.scrollstyle:          plain
URxvt.cursorBlink:          true
URtvt.cursorUnderline:      false
URxvt.pointerBlank:         true
URxvt.visualBell:           false
URxvt.saveLines:            3000

!! Font list and Spacing
URxvt.font:              	xft:Fira Code-11,xft:Fira Mono Regular Nerd Font Complete-11
URxvt.letterSpace:          -1
URxvt.geometry:             1280x800

!URxvt.lineSpace:            0

!! Color Scheme and Opacity - gruvbox-dark https://github.com/morhetz/gruvbox
URxvt.depth:                32
URxvt.color0:               [100]#000000
URxvt.color1:               [100]#cc241d
URxvt.color2:               [100]#98971a
URxvt.color3:               [100]#d79921
URxvt.color4:               [100]#458588
URxvt.color5:               [100]#b16286
URxvt.color6:               [100]#689d6a
URxvt.color7:               [100]#a89984
URxvt.color8:               [100]#928374
URxvt.color9:               [100]#fb4934
URxvt.color10:              [100]#b8bb26
URxvt.color11:              [100]#fabd2f
URxvt.color12:              [100]#83a598
URxvt.color13:              [100]#d3869b
URxvt.color14:              [100]#8ec07c
URxvt.color15:              [100]#ebdbb2
URxvt.foreground:           [100]#ebdbb2
URxvt.background:           [100]#282828
URxvt.colorIT:              [100]#8ec07c
URxvt.colorBD:              [100]#d5c4a1
URxvt.colorUL:              [100]#83a598
URxvt.scrollColor:          [100]#504945
!URxvt.troughColor:          [90]#3C3836
